#banner
  background-color: $main-color
  background-repeat: no-repeat
  background-size: cover
  color: white
  position: relative
  height: 700px

  .wrap
    height: 100%
    overflow: hidden
    text-align: center

  .copy-wrap
    position: relative
    margin-top: 20%
