#universal-footer
  background-color: $main-color
  color: white
  position: relative

  .wrap
    padding: 3em 0
    overflow: hidden

  .footer-nav
    text-align: center
    margin: 0 auto

    ul
      display: inline-block
      padding: 0 1.875em
      text-align: left
      vertical-align: text-top

      li
        line-height: 1.625em

      a
        color: white

      .title
        text-transform: uppercase
        padding-bottom: 0.625em
        font-weight: bold

#copyright-footer
  background-color: $deep-gray
  color: white
  padding: 3.125em 0
  text-align: center

  strong
    display: block
    text-transform: uppercase
    margin-bottom: 5px
