#team
  background-color: $deep-gray
  background-image: url('/assets/images/bg_team.jpg')
  background-repeat: no-repeat
  background-size: cover
  height: 600px

  h2
    color: #FFF
    font-size: 2.25em
    text-rendering: optimizelegibility
    line-height: 1.3em
  p
    color: #FFF
  a
    color: #FFF
    text-align: center
    text-transform: uppercase
    display: inline-block
    font-family: Arial
    font-size: 1em
    font-weight: 900
    text-decoration: none
