#work
  background-color: #FFF
  height: 600px

  .wrap
    .header-content
      padding-top: 12.5em
      text-align: center
      margin: 0 auto
      width: 752px
      height: 506px

      h2, a
        color: $main-color
