%section#community
  .wrap
    %section.header-content
      %h2 We Love Sharing
      %p We've benefited greatly from others sharing their tools, techniques, and code. We try to return the favor.
      %ul.link-container
        %li
          %a{ href: "#" } The Playbook
        %li
          %a{ href: "#" } Giant Robots Blog
        %li
          %a{ href: "#" } Podcasts
