%section#team
  .wrap
    %section.header-content
      %h2 Who We Are
      %p Our clients hire us to build their products. We focus on product development and technology solutions for custom's goals. We write code for iOS and the web.
      %a{ href: 'mailto:sales@leandone.com' }
        %i.fa.fa-play-circle
        Meet The Team
