%section#work
  .wrap
    %section.header-content
      %h2 What We`ve Built
      %p 
        We have worked with internet organizations and startup such as 
        %a{ href: "http://peekaboomoments.com/"} Peekaboo Moments, 
        %a{ href: "https://www.cityspade.com/"} CitySpade
        and
        %a{ href: "http://www.taoffer.com/"} Taoffer.
        We also have written and maintained open source code.
      %ul.link-container
        %li
          %a{ :href => "/work"} 
            %i.fa.fa-play-circle
            Client Work
        %li
          %a{ :href => "/products"} 
            %i.fa.fa-play-circle
            Our Products
        %li
          %a{ :href => "https://github.com/leandone", :title => "Open Source" } 
            %i.fa.fa-play-circle
            Open Source
